<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>NeroiStack</Name>
	<Version>1.0.0</Version>
	<Title>NeroiStack Setup</Title>
	<Publisher>TseWei Chen</Publisher>
	<StartMenuDir>NeroiStack</StartMenuDir>
	<TargetDir>@ApplicationsDir@/NeroiStack</TargetDir>
	<InstallerApplicationIcon>NeroiStack</InstallerApplicationIcon>

	<ControlPanelAbbreviation>NeroiStack</ControlPanelAbbreviation>
	<MaintenanceToolName>maintenancetool</MaintenanceToolName>
	<AllowAnyTargetDir>true</AllowAnyTargetDir>
	<RequiresAdminRights>true</RequiresAdminRights>

	<WizardStyle>Modern</WizardStyle>
</Installer>